node_modules
.next
out
.env.local
.env.*.local
*.db
*.db-journal
.DS_Store
public/uploads/*
!public/uploads/.gitkeep
.vercel

# Playwright
tests/.auth/
tests/report/
tests/snapshots/
playwright-report/
test-results/
.env*
